.tagline {
  font-family: 'Lobster', serif;
  font-size: 60px;
  color: white
}

body {
   background-image: url("https://www.wallpaperflare.com/static/338/872/889/vinyl-audio-minimalism-wallpaper.jpg");
   color:white;
}